ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=
ALICE_PRIVATE_KEY=
BOB_PRIVATE_KEY=
CAROL_PRIVATE_KEY=
NETFOLD_ADDRESS=
ARBISCAN_API_KEY=
MIN_GAS_BALANCE_WEI=1000000000000000
RUN_DURATION_SECONDS=604800
